.navbar-custom {
  background-color: rgba(60, 60, 70, 1)
} 

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(226,113,28,255);
}
  
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 251, 0.7)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(226,113,28,255)
} /* change the color of active or hovered links */
.navbar-custom .nav-item .nav-link.active,
.navbar-custom .nav-item:hover .nav-link {
  color:rgba(0,141,85,255)
}
.icon {
  width: 4rem;
  margin-right: -6px;
  margin-left: -4px;
}
  