.Landing-header {
    background-image: linear-gradient( rgba(83, 52, 52, 0.5), 
    rgba(0.5, 0, 0, 2.0) ),
    url("./city.jpg");
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire container */
    background-color: #556875;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Raleway';
    color: white;
  }

h3 {
    font-size: 50px;
    text-align: center;
}

.image{
    height: 50px;
    width: 50px;
}
.arrow{
    margin-top:150px;
    margin-bottom:0;
}

.body {
    background-color:black;
    min-height: 50vh;
    font-size:24px;
    text-align: center;
}

.purpose {
    font-size: 20px;
    color: #FFFFFF;
    padding-right: 10vw;
    padding-left: 10vw;
    text-align:center;
    padding-bottom: 5vh;
    font-family: 'Raleway';

}

.purpose-header{
    padding-bottom: 5vh;
      
}



.top_text{
    color:white;
    margin-right: 100px;
    margin-left: 200px;
}
.top_picture{
    margin-left: 100px;
    margin-right: 200px;
}

.college_image {
    padding-right: 100rem;
    margin-right: 200rem;
}

  