.college {
    background-color: white; /* set background color for grid cells */
}

.uta-pic {
    background-image: url(./uta-pic.jpg);
    background-position: center;
    background-size: 400px 200px;
    min-height: 200px;
}

.utd-pic {
    background-image: url(./utd-pic.jpg);
    background-position: center;
    background-size: 400px 200px;
    min-height: 200px;
}

.columbia-pic {
    background-image: url(./columbia-pic.jpg);
    background-position: center;
    background-size: 400px 200px;
    min-height: 200px;
}

.text { /* formatting for college statistics */
    font-size: 15px;
    color: black;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}