.columbia-background {
    background-color: black;
    min-height: 100vh;
}

.columbia-title {
    color:rgb(43, 116, 226);
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.columbia-college-pic {
    background-image: url(./columbia-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-top: 20px;
    min-height: 300px;
}

.columbia-text { /* Columbia University stats*/
    background-color: black;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    align-content: center;
}

.newyork-link { /* link to New York city page*/
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}

.newyork-pic {
    background-image: url(./newyork-city.jpg);
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
}

.newyork-county-link { /* link to New York county page*/
    font-size: 30px;
    margin-left: 900px;
    margin-top: 50px;
    color: white;
}

.newyork-county-pic {
    background-image: url(./newyork-county.jpg);
    margin-left: 900px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
    top: 5px;
}

.columbia-vid { /* Video about Columbia University */
    margin-top: 70px;
    margin-left: 450px;
}