.uta-background {
    background-color: black;
    min-height: 100vh;
}

.uta-title {
    color:rgb(168, 84, 5);
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.uta-college-pic {
    background-image: url(./uta-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-top: 20px;
    min-height: 300px;
}

.uta-text {  /* UTA stats*/
    background-color: black;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    align-content: center;
}

.austin-link { /* link to Austin city page*/
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}

.austin-pic {
    background-image: url(./austin-pic.jpg);
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
}

.travis-link { /* link to Travis county page*/
    font-size: 30px;
    margin-left: 900px;
    margin-top: 50px;
    color: white;
}

.travis-pic {
    background-image: url(./travis.png);
    margin-left: 900px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
    top: 5px;
}

.uta-vid {
    margin-top: 70px;
    margin-left: 450px;
}