.utd-background {
    background-color: black;
    min-height: 100vh;
}

.utd-title {
    color:rgb(230, 138, 32);
    font-size: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.utd-college-pic {
    background-image: url(./utd-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-top: 20px;
    min-height: 300px;
}

.utd-text { /* UTD stats*/
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
}

.dallas-link { /* link to Dallas city page*/
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
    color: white;
}

.dallas-pic {
    background-image: url(./dallas-city.jpg);
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
}

.dallas-county-link { /* link to Dallas county page*/
    font-size: 30px;
    margin-left: 900px;
    margin-top: 50px;
    color: white;
}

.dallas-county-pic {
    background-image: url(./dallas-county.jpg);
    margin-left: 900px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    min-height: 300px;
    top: 5px;
}

.uta-vid { /* Video about UTD */
    margin-top: 70px;
    margin-left: 450px;
}