.about-body {
    background: linear-gradient(-45deg, #a9d7fc, #a6f5b1, #f7ce82, #e9de81);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.h2-title {
    color: rgba(0,141,85,255);
}

.link {
    color: #1c388d;
    text-decoration: underline;
}


